body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; 
}

.container {
  text-align: center;
  position: relative; 
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #111; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  margin-bottom: 50px; 
  z-index: 1; 
}

.container::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 10px solid #333; 
  border-radius: 20px;
  z-index: -1; 
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #2ECC71; 
}

.switch-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch .slider {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background: #555; 
  transition: background-color 0.3s ease-in-out;
}

.switch .slider:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #2ECC71; 
  transition: transform 0.3s ease-in-out;
}

.switch .input {
  display: none;
}

.switch .input:checked + .slider {
  background-color: #27AE60; 
}

.switch .input:checked + .slider:before {
  transform: translateX(20px);
}

.switch .label {
  margin-left: 10px;
  font-size: 1.2em;
  color: #2ECC71; 
  display: flex; 
  align-items: center; 
}

.switch .label::before {
  content: '🐛'; 
  margin-right: 5px; 
  font-size: 1.5em; 
}

#kapatma-butonu {
  position: fixed; 
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f00; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2; 
}

#problem-solved {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #2ECC71; 
  z-index: 1; 
}

.kapaniyor {
  animation: kapanis 1s ease-in-out forwards;
}

@keyframes kapanis {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.kar {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  opacity: 0; 
  animation: kar-dusmesi 0.01s linear infinite; 
  z-index: 0; 
  font-size: 1.5em; 
}

.kar::before {
  content: '🐛'; 
  color: #2ECC71; 
}

@keyframes kar-dusmesi {
  0% {
    transform: translate(0, -10px); 
    opacity: 0;
  }
  100% {
    transform: translate(500px, 200vh); 
    opacity: 1; 
  }
}

.kar:nth-child(1) { animation-delay: 0s; }
.kar:nth-child(2) { animation-delay: 2s; }
.kar:nth-child(3) { animation-delay: 4s; }
